@use '../mixins';

.footer {
  padding: 112px 0 58px;
  color: #fff;
  background-color: var(--black-bg-color);

  @include mixins.mobile {
    padding-top: 62px;
  }

  &__head {
    @include mixins.flex-jusify-spb-aic;
    margin-bottom: 134px;

    @include mixins.tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 84px;
    }

    @include mixins.mobile {
      align-items: center;
      margin-bottom: 64px;
      text-align: center;
    }

    @include mixins.small-mobile {
      margin-bottom: 44px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;

    @include mixins.tablet {
      font-size: 60px;
    }

    @include mixins.mobile {
      font-size: 42px;
    }
  }

  &__descr {
    max-width: 543px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-50);
  }

  &__btn {
    padding: 16px 32px;
    color: var(--black-bg-color);
    background-color: #fff;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 19px;

    @include mixins.tablet {
      margin-bottom: 0;
    }
  }

  &__body {
    @include mixins.flex-jusify-spb-aic;
    margin-bottom: 56px;

    @include mixins.tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mixins.mobile {
      flex-direction: column-reverse;
    }

    &-info {
      @include mixins.tablet {
        @include mixins.flex-align-center;
        gap: 30px;
      }

      @include mixins.small-tablet {
        gap: 10px;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
    }

    &-descr {
      max-width: 292px;
      font-weight: 500;
      line-height: 162%;
      color: var(--neutral-color-150);

      @include mixins.tablet {
        max-width: 500px;
      }
    }
  }

  &__nav {
    @include mixins.tablet {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    gap: 93px;

    @include mixins.mini-desctop {
      gap: 53px;
      justify-content: center;
    }

    @include mixins.tablet {
      justify-content: space-between;
    }

    @include mixins.mobile {
      gap: 40px 60px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mixins.small-mobile {
      text-align: center;
    }
  }

  &__item {
    &-title {
      margin-bottom: 24px;
      font-weight: 700;
      line-height: 150%;
      color: #fff;
    }

    @include mixins.mobile {
      min-width: 143px;
    }
  }

  &__subitem {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &-link {
      position: relative;
      font-weight: 400;
      line-height: 150%;
      color: var(--neutral-color-150);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: var(--neutral-color-150);
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__bottom {
    @include mixins.flex-jusify-spb-aic;
    gap: 20px 40px;
    flex-wrap: wrap;
    border-top: 1px solid var(--neutral-color-70);
    padding-top: 40px;

    @include mixins.tablet {
      justify-content: center;
    }

    &-lists {
      @include mixins.flex-align-center;
      gap: 72px;

      @include mixins.tablet {
        gap: 42px;
      }

      @include mixins.mobile {
        gap: 20px;
        flex-direction: column;
      }
    }

    &-list {
      display: flex;
      gap: 40px;

      @include mixins.tablet {
        gap: 20px;
      }

      @include mixins.small-mobile {
        gap: 10px 20px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-link {
      position: relative;
      font-weight: 500;
      line-height: 143%;
      color: #fff;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__social {
    &-list {
      @include mixins.flex-align-center;
      gap: 24px;

      @include mixins.tablet {
        gap: 18px;
      }
    }

    &-link {
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__copyright {
    font-weight: 500;
    line-height: 143%;
    color: #fff;

    @include mixins.small-mobile{
        text-align: center;
    }
  }
}
